.f-r {
  float: right;
}
.f-l {
  float: left;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.va-m {
  vertical-align: middle;
}
.clearfix:after {
  /*最简方式*/
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  /*兼容 IE*/
  zoom: 1;
}
/* productService */
/*h1~h6*/
/*before*/
/*Helper*/
/*Question*/
/*DevLink*/
/*customercase*/
/*ecologycooperation*/
/*cont块距离顶部70px*/
.mt {
  margin-top: 0.77rem;
}
/*清除浮动*/
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}
.center {
  position: relative;
  width: 10.6rem;
  margin: 0 auto;
  clear: both;
}
/*图片自适应*/
.img-res {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}
.pdtb-110280 {
  padding: 1.11rem 0 2.8rem;
}
.pdtb-110110 {
  padding: 1.11rem 0 1.1rem;
}
.pdt-110 {
  padding: 1.11rem 0 0;
}
.pdtb-11055 {
  padding: 1.1rem 0.55rem;
}
.pdtb-5555 {
  padding: 0.55rem 0 0.55rem;
}
.pdtb-55110 {
  padding: 0.55rem 1.1rem;
}
.pdb-280 {
  padding: 0 0 2.8rem;
}
.pdb-110 {
  padding: 0 0 1.1rem;
}
.mgtb-1025 {
  margin: 0.1rem 0 0.25rem;
}
.mTop-50 {
  margin: -0.5rem auto 0;
}
.bg-white {
  background: #ffffff;
}
.bg-gray {
  background-color: #f8f8f8;
}
.bg-gray-food {
  background-color: #f2f2f2;
}
.bg-red {
  background-color: #e63a3a;
}
.bg-black {
  background-color: #333333;
}
.bg-black-food {
  background-color: #000000;
}
a.btn-normal {
  height: 0.44rem;
  line-height: 0.45rem;
  padding: 0 0.3rem;
}
a.btn-raduis {
  border-radius: 2px;
}
a.btn {
  display: inline-block;
  font-size: 0.14rem;
  color: #fff;
  background: #1989fa;
  position: relative;
  z-index: 56;
}
a.btn::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}
a.btn:hover:before {
  content: 'VueDemo';
  text-align: center;
  background-color: #e7232e;
  opacity: 1;
  z-index: 0;
  color: #fff;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
a.btn_gold {
  background: #f8c695;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 0.14rem;
  position: relative;
  z-index: 56;
}
a.btn_gold::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}
a.btn_gold:hover:before {
  content: 'VueDemo';
  text-align: center;
  background-color: #2BD8AE;
  opacity: 1;
  z-index: 0;
  color: #fff;
  border-radius: 2px;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
a.btn_text_1:hover:before {
  content: 'djkloop制作';
}
a.btn_text_2:hover:before {
  content: '新疆印象';
}
a.btn_text_3:hover:before {
  content: '团结模范';
}
a.btn_text_4:hover:before {
  content: '特色文化';
}
a.btn_text_5:hover:before {
  content: '美食发现';
}
.router-link-active {
  color: #1989fa;
}
.flex {
  display: -moz-box;
  /* Firefox */
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  /* Safari */
  display: -webkit-flex;
  /* Chrome, WebKit */
  display: flexbox;
  display: flex;
}
body,
html {
  width: 100%;
  font-size: 100px;
  height: 100%;
}
.customercase .pos_cs {
  margin: 0.1rem 0 0.3rem;
}
.customercase .cs_h1 {
  color: #fff;
  float: left;
  margin: -0.5rem 0 0.3rem;
}
.customercase .content_text {
  font-size: 0.14rem;
  color: #fff;
  line-height: 0.25rem;
  margin: 0.3rem 0 0.4rem;
  float: left;
}
.culture_title_text {
  font-size: 0.16rem;
  padding: 0.3rem 0;
}
.culture_cont_text_p {
  font-size: 0.14rem;
  line-height: 0.25rem;
}
.ym_culture {
  margin-right: -25%;
  margin-top: 41%;
}
.ym_culture_h2 {
  color: #fff;
  text-align: right;
}
.ym_culture_p {
  color: #fff;
  padding: 0.5rem 0;
  font-size: 0.16rem;
  line-height: 0.26rem;
}
.bg-05 {
  background: url(../../imgs/05.jpg) no-repeat center bottom;
  background-size: 100% 100%;
}
.bg-yh {
  background: url(../../imgs/culture.jpg) no-repeat center bottom;
  background-size: cover;
  height: 7.33rem;
}
.clearMarginRepeat {
  padding-top: 1px;
}
.case-liner {
  background: url(../../imgs/line.png) no-repeat;
  position: relative;
  height: 0.11rem;
  margin: 0.4rem auto;
  background-size: cover;
  background-size: 1060px 11px;
}
.projectBg {
  float: left;
}
.projectBg ul {
  padding: 0.2rem 0 0 0.2rem;
}
.projectBg p {
  color: #333333;
  font-size: 0.14rem;
  line-height: 0.24rem;
  margin: 0.2rem 0 0.5rem;
}
.projectBg li {
  list-style: square;
  color: #333333;
  font-size: 0.14rem;
  margin-bottom: 0.13rem;
}
.projectBg li a {
  color: #333333;
  margin-left: 0.10rem;
}
.projectBg li a:hover {
  color: #1989fa;
}
.Slider-case {
  margin-top: -116px;
  position: relative;
  overflow-x: hidden;
}
.Slider-case .btn-case-next {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  margin-top: -22px;
  right: 0px;
  z-index: 99;
  cursor: pointer;
  background: #1989fa url(../../imgs/arrow-right-case.png) no-repeat 50% 50%;
  background-size: 19px 13px;
}
.Slider-case .Slider-warp ul {
  position: relative;
}
.Slider-case .Slider-warp li {
  float: left;
  position: relative;
  width: 3.4rem;
  height: 2.3rem;
  padding: 0 0.2rem 0 0;
}
.Slider-case .Slider-warp li img {
  display: block;
  width: 3.4rem;
  height: 2.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.Slider-case .Slider-warp li img:hover {
  box-shadow: 1px 10px 20px 5px rgba(0, 0, 0, 0.3);
  transform: translate3d(-10px, 0, 10px);
}
.case li {
  float: left;
  margin: 0 0.2rem 0.2rem 0;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
  background: #ededed;
  text-align: center;
}
.case li a {
  width: 1.4rem;
  height: 1.4rem;
  background: #FFF;
  display: table-cell;
  vertical-align: middle;
}
.case li img {
  vertical-align: middle;
}
