.pad-clas {
  padding: 0.58rem 0 0.56rem 0;
}
#container {
  position: relative;
  overflow: hidden;
}
#container h4 {
  font-size: 0.22rem;
  color: #666666;
  font-weight: 300;
  line-height: 0.3rem;
}
#container h2.app {
  font-size: 0.34rem;
}
#container h2 {
  font-size: 0.14rem;
  line-height: 0.43rem;
  font-weight: 400;
  color: #333333;
  margin: 10px 0 26px 0;
  padding: 0 0.05rem;
}
#container h2:hover {
  color: #0065D0;
}
#container p.content_text {
  font-size: 0.16rem;
  color: #333333;
  font-weight: 400;
  width: 6.4rem;
  line-height: 0.28rem;
  margin: 0;
  text-indent: 0.35rem;
}
.introduce {
  margin: 0.72rem 0 0 0;
}
.introduce li {
  float: left;
  width: 2.2rem;
  margin: 0 0.45rem 0.72rem 0;
}
.introduce li:hover i.arrow-right {
  opacity: 1;
}
.introduce li:hover span {
  margin-right: 0.1rem;
  color: #1989fa;
}
.introduce li a img {
  width: 1.2rem;
  height: 0.9rem;
}
.introduce a,
.introduce h4 {
  display: block;
  overflow: hidden;
}
.introduce h4 {
  width: 100%;
  margin: 0.26rem 0 0.2rem 0;
}
.introduce h4 span {
  margin-right: 0.3rem;
  float: left;
  transition: all ease-out 0.4s;
  font-weight: 500;
}
.introduce h4 i.arrow-right {
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  background: url("../../imgs/arrow-left.png") no-repeat center;
  background-size: 32px 32px;
  opacity: 0;
  transition: all ease-out 0.4s;
}
.introduce p {
  font-size: 0.14rem;
  color: #333333;
  font-weight: 400;
  width: 100%;
  line-height: 0.24rem;
}
.cont {
  background: #F8F8F8;
}
.cont .data-pic {
  position: relative;
  overflow: hidden;
  float: left;
  width: 6.96rem;
  height: 4.17rem;
  right: 0.64rem;
  background: url("../../imgs/group.jpg") no-repeat;
  background-size: 6.96rem 4.17rem;
  margin-top: 0.3rem;
  transition: all 0.5s ease-in-out;
}
.cont .data-pic:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
  transform: translate3d(0, -8px, 8px);
}
.why-chose {
  position: relative;
  float: right;
  width: 3.4rem;
}
.why-chose h4.why-chose-h4 {
  font-weight: 300 !important;
  color: #333333 !important;
}
.why-chose h2.why-chose-h2 {
  width: 6.4rem;
  margin: 0.1rem 0 0.26rem 0;
}
.why-chose ul.why-chose-text {
  margin: 0.23rem 0 0 0;
}
.why-chose ul.why-chose-text li {
  display: block;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.why-chose ul.why-chose-text li a.link {
  padding: 24px 0 26px;
  color: #999;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.why-chose ul.why-chose-text li a.link:hover {
  color: #333333;
}
.why-chose ul.why-chose-text li.open a.link {
  color: #333333;
  padding-bottom: 12px;
}
.why-chose ul.why-chose-text .why-chose-text-change {
  display: none;
  font-size: 14px;
  color: #333;
  line-height: 24px;
  padding-bottom: 24px;
}
.new_register,
.user_logo {
  margin: 0.68rem 0 0.59rem 0;
}
.new_register .margb,
.user_logo .margb {
  margin: 0 0 0.52rem 0 !important;
}
.new_register .regsiter_row h2,
.user_logo .regsiter_row h2 {
  margin: 0.16rem 0 0 0 !important;
  height: 1.3rem !important;
}
.new_register .regsiter_row li,
.user_logo .regsiter_row li {
  float: left;
  width: 27%;
  text-align: left;
  margin: 0 15px;
}
.new_register .regsiter_row li.w_middle,
.user_logo .regsiter_row li.w_middle {
  padding: 0 45px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.new_register .regsiter_row span,
.user_logo .regsiter_row span {
  font-size: 0.14rem;
  color: #666666;
  padding: 5px 0;
}
.new_register .regsiter_row span:hover,
.user_logo .regsiter_row span:hover {
  cursor: pointer;
  color: #41B883;
  text-decoration: underline;
}
a.btn {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  background: #1989fa;
}
a.btn-normal {
  height: 0.44rem;
  line-height: 0.44rem;
  padding: 0 30px;
}
.logo_list {
  background: #fff;
  border-radius: 0.05rem;
  border: 0.01rem solid #dbdbdb;
  transition: 0.5s all ease-in-out;
}
.logo_list:hover {
  -webkit-transform: translate3d(0, -0.03rem, 0);
  -ms-transform: translate3d(0, -0.03rem, 0);
  -o-transform: translate3d(0, -0.03rem, 0);
  transform: translate3d(0, -0.03rem, 0);
  box-shadow: 0 0.02rem 0.05rem rgba(0, 0, 0, 0.5);
}
.logo_list li {
  float: left;
  width: 20%;
  height: 1.5rem;
}
.logo_list li div.bg_com {
  background-position: center -1.6rem;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  width: 100%;
  height: 100%;
}
.logo_list li div.bg_com:hover {
  background-position: center 0;
  background-color: #f7f7f7;
}
.logo_list .anl1 {
  background-image: url("../../imgs/anli1.png");
}
.logo_list .anl2 {
  background-image: url("../../imgs/anli2.png");
}
.logo_list .anl3 {
  background-image: url("../../imgs/anli3.png");
}
.logo_list .anl4 {
  background-image: url("../../imgs/anli4.png");
}
.logo_list .anl5 {
  background-image: url("../../imgs/anli5.png");
}
.logo_list .anl6 {
  background-image: url("../../imgs/anli6.png");
}
.logo_list .anl7 {
  background-image: url("../../imgs/anli7.png");
}
.logo_list .anl8 {
  background-image: url("../../imgs/anli8.png");
}
.logo_list .anl9 {
  background-image: url("../../imgs/anli9.png");
}
.logo_list .anl10 {
  background-image: url("../../imgs/anli10.png");
}
